/* dimensioni font */
*{
    font-family:  Arial, sans-serif;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.3rem;
}

p{
    font-size: 1.3rem;
}

.text-small{
    font-size: 0.9rem;
}

.text-blue{
    color: #2D64E6;
    font-weight: bold;
}

.text-grey{
    color: #727272;
}

/* utiliti */

.my-pt-50{
    padding: 50px;
}

.my-pt-200{
    padding-top: 200px;
}


/************************************/

.nav-top{
    background-color: #000000;
    padding: 12px 10px;
    text-align: right;
}

.my-nav-logo-small{
    height: 12px;
}

.nav-bottom{
    background-color: green;
    min-height: 50px;
}

.section-title-img{
    margin-bottom: 16px;
}

.section-title{
    margin-bottom: 24px;
}
.section-text{
    margin-bottom: 24px;
}

.my-section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-md{
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-hero{
    padding-top:200px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
}


.card-box{
    padding: 3px;
    border-radius: 20px;
    border: 2px solid transparent;
}

.card-box-active{
    border: 2px solid #7fb8e6;
  
}

.card-box>img{
    border-radius: 20px;    
}

.card-box-hardware{
    padding: 10px 20px;
    text-align: center;

}

.card-box-hardware-active{
    border-bottom: 3px solid #0072ce;
}

/* overwrite bootstrap */

.btn-outline-light:hover {
    border-color: #919aa3;
}

