/* dimensioni font */
*{
    font-family:  Arial, sans-serif;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.3rem;
}

p{
    font-size: 1.3rem;
}

.text-small{
    font-size: 0.9rem;
}

.text-blue{
    color: #2D64E6;
    font-weight: bold;
}

.text-grey{
    color: #727272;
}




/************************************/

.nav-top{
    background-color: #000000;
    padding: 12px 10px;
    text-align: right;
}

.my-nav-logo-small{
    height: 12px;
}

.nav-bottom{
    background-color: green;
    min-height: 50px;
}

.section-title-img{
    margin-bottom: 16px;
}

.section-title{
    margin-bottom: 24px;
}

.section-title-4{
    margin-bottom: 65px;
}


.section-text{
    margin-bottom: 24px;
}

.section-text-2{
    margin-bottom: 95px;
}

.section-text-3{
    margin-bottom: 70px;
}


.my-section-sm{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-md{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-xl{
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-main-hero{
    padding-top:200px;
    
}


.bg-hero{
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
}

.bg-hero-img{
    background-image: url("../img/jumbo-bg.png");
}

.card-box{
    padding: 3px;
    border-radius: 20px;
    border: 2px solid transparent;
}

.card-box-active{
    border: 2px solid #7fb8e6;
  
}

.card-box>img{
    border-radius: 20px;    
}

.card-box-hardware{
    padding: 10px 20px;
    text-align: center;

}

.card-box-hardware-active{
    border-bottom: 3px solid #0072ce;
}

.bg-hero-img-2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

.bg-dark-grey{
    background-color: #1f1f1f;
}

.bg-grey{
    background-color: #bebcbb;
}

.bg-blue{
    background-color: #161c3b;
}

.bg-footer{
    background-color: #00439c;
}

.img-footer{
    width: 95px;
    margin-bottom: 40px;
}

.img-footer-language{
    width: 20px;
    margin-right: 12px;
}
/* overwrite bootstrap */

.btn-outline-light:hover {
    border-color: #919aa3;
}

/* utiliti */

.my-pt-70{
    padding-top: 70px;
}

.my-w-60{
    width: 50%;
}

p.my-fs-md{
    font-size: 1.1rem;
}