/* dimensioni font */
*{
    font-family:  Arial, sans-serif;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.3rem;
}

h4, p{
    font-size: 1.3rem;
}

.text-small{
    font-size: 0.9rem;
}

.text-blue{
    color: #2D64E6;
    font-weight: bold;
}

.text-grey{
    color: #727272;
}




/************************************/

.nav-top{
    background-color: #000000;
    padding: 12px 10px;
    text-align: right;
    min-height: 24px;
}

.my-nav-logo-small{
    height: 12px;
}

.nav-bottom{
    background-color: #f7f7f7;
    min-height: 50px;
}

.nav-arow{
    height: 12px;
    padding-left: 1px;
    padding-right: 1px;
}

.navbar-nav .dropdown-menu{
    display: block;
    position: fixed!important;
    left: 0;
    right: 0;
    top: -224px;
    padding: 0;
    border:0;
    border-radius: 0;
    transition: all 1s;
    z-index: -1;
    text-decoration: none;
}

header .navbar-nav .nav-link:focus + .dropdown-menu{
    top: 124px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #0070d1;
}

.nav-link:hover img{
    display: none;
}

.nav-link img:nth-child(2){
    display: none;
    transform: rotate(0deg);
    transition: transform 1s, display 1s;
}

.nav-link:focus img{
    display: none;
}

.nav-link:hover img:nth-child(2){
    display: inline;
}
.nav-link:focus img:nth-child(2){
    display: inline;
    transform: rotate(-180deg);
}




.section-title-img{
    margin-bottom: 16px;
}

.section-title{
    margin-bottom: 24px;
}

.section-title-4{
    margin-bottom: 65px;
}


.section-text{
    margin-bottom: 24px;
}

.section-text-2{
    margin-bottom: 95px;
}

.section-text-3{
    margin-bottom: 70px;
}


.my-section-sm{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-md{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-xl{
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.my-section-main-hero{
    padding-top:200px;
    
}


.bg-hero{
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
}

.bg-hero-img{
    margin-top: 76px;
    background-image: url("../img/jumbo-bg.png");
}

.card-box{
    padding: 3px;
    border-radius: 20px;
    border: 2px solid transparent;
}

.card-box-active{
    border: 2px solid #7fb8e6;
  
}

.card-box>img{
    border-radius: 20px;    
}

.card-box-hardware{
    padding: 10px 20px;
    text-align: center;

}

.card-box-hardware-active{
    border-bottom: 3px solid #0072ce;
}

.bg-hero-img-2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

.bg-dark-grey{
    background-color: #1f1f1f;
}

.bg-grey{
    background-color: #bebcbb;
}

.bg-blue{
    background-color: #161c3b;
}

.bg-footer{
    background-color: #00439c;
}

.img-footer{
    width: 95px;
    margin-bottom: 40px;
}

.img-footer-language{
    width: 20px;
    margin-right: 12px;
}




/* overwrite bootstrap */

.btn-outline-light:hover {
    border-color: #919aa3;
}

.btn-danger {
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

.btn-primary {
    color: #fff;
    background-color: #2d64e6;
    border-color: #2d64e6;
}

.btn-light-2 {
    color: #2d64e6;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.btn-light-2:hover {
    color: #003b92;
}

.btn-light {
    color: #484848;
    background-color: #d9dadc;
    border-color: #d9dadc;
}




/* utiliti */

.my-pt-70{
    padding-top: 70px;
}

.my-w-60{
    width: 50%;
}

p.my-fs-md{
    font-size: 1.1rem;
}

.dropdown-toggle::after {
    display: none;
}
/* query */

@media (min-width: 768px){
    .bg-hero-img{
        margin-top: 124px;
    }
}

/* transition -animation */

.up-transition{
    transform: translateY(0);
    transition: 0.5s;
}

.up-transition:hover{
    transform: translateY(-15px);
}

.opacity-effect{
    filter: opacity(0.5);
    transition: filter 0.5s;
}

.opacity-effect:hover{
    filter: opacity(1);
}